@import url(./style.css);

.categories{
    display: flex;    
    border-bottom: 1px  solid #e5e5e5;
    margin-bottom: 2rem;
    
}
.categories__list{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;

}
.products__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.products__card img{
    height: 346px;
    border-radius: 5px;
    gap: 2rem;
   }



